<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/student/create">Create new student</a>
<h1>Student List</h1>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>age</th>
        <th>address</th>
        <th>class</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <th:block th:each="student : ${students}">
        <tr>
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.age}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.aClass.name}"></td>
            <td><a th:href="@{/edit-customer/__${student.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${student.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>